---
// import { Image } from "astro:assets";
const { image, title, alt, width, src } = Astro.props;
---


<div class="bordered">
  <a href={src} class="bake-card">
    <h4>{title}</h4>
    <img src={image} alt={alt} width={200} height={200} />
  </a>

  <div class="checkout-button">
    <button>
      <a class="buy-btn" 
      data-id={title.toLowerCase().replaceAll(" ", "-")} 
      data-name={title} 
      data-price="5"
      data-image={image}>Buy Now</a></button>

    <button><a href="/cart">Checkout</a></button>
  </div>
</div>


<style>
    h4 {
        margin-bottom: 3px;
    }

    .checkout-button {
        padding: 1rem;
        gap: .5rem;
        text-decoration: none;
        background-color: pink;
        display: flex;
        justify-content: center;
        border-radius: .2rem;
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        text-align: center;
    }

    button {
      border-radius: 1rem; 
      background-color: hotpink;
    }

    button:hover {
      background-color: rgb(251, 73, 102);
      color: black;
    }
</style>
<script type="module">
  import { addToCart } from "../scripts/cart.js";

  if (!window.__cartListenerAdded) {
  window.__cartListenerAdded = true;

  document.addEventListener("click", (e) => {
    const btn = e.target.closest(".buy-btn");
    if (!btn) return;

    console.log("CLICK WORKS");

    const id = btn.dataset.id;
    const name = btn.dataset.name;
    const price = Number(btn.dataset.price);
    const image = btn.dataset.image;

    addToCart({id, name, price, qty: 1, image});

    console.log("added to cart");
  });
}
</script>