---
import { Image } from "astro:assets";
 import { addToCart } from "../../public/scripts/cart.js"
const { image, title, alt, width, src } = Astro.props;
---


<div class="bordered">
  <a href={src} class="bake-card">
    <h4>{title}</h4>
    <Image src={image} alt={alt} width={200} height={200} />
  </a>

  <div class="checkout-button">
    <button>
      <a class="buy-btn" 
      data-id={title.toLowerCase().replaceAll(" ", "-")} 
      data-name={title} 
      data-price="5">Buy Now</a></button>
    <a href="/cart">Checkout</a>
  </div>
</div>


<style>
    .bordered {
        border: 3px white solid;
        border-radius: 0.7rem;
    }

    /* have to improve responsive for cards,, should be a set top middle and bottom so they are sliding with screen size
    rather than clicking into place */
    .bake-card {
        display: grid;
        gap: 1rem;
        background-color: rgb(183, 124, 255);
        border-radius: 0.5rem;
        text-decoration: none;
        text-align: center;
        color: black;
    }

    h4 {
        margin-bottom: 3px;
    }
    .checkout-button {
        padding: 1rem;
        text-decoration: none;
        background-color: pink;
        display: flex;
        justify-content: center;
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        text-align: center;
    }
</style>
<script type="module">
  import { addToCart } from "../scripts/cart.js";

  // document.addEventListener("click", (e) => {
  //   if (e.target.closest(".buy-btn")) {
  //     // using ids to store get remove 
  //     const id = e.target.dataset.id;
  //     const name = e.target.dataset.name;
  //     const price = Number(e.target.dataset.price);

  //     const btn = e.target.closest(".buy-btn");

  //     // updating addToCart() call using 
  //     addToCart(
  //         btn.dataset.id,
  //         btn.dataset.name,
  //        Number(btn.dataset.price)
  //   )
  //      console.log("added to cart");
  //   }
  // });

  if (!window.__cartListenerAdded) {
  window.__cartListenerAdded = true;

  document.addEventListener("click", (e) => {
    const btn = e.target.closest(".buy-btn");
    if (!btn) return;

    console.log("CLICK WORKS");

    const id = btn.dataset.id;
    const name = btn.dataset.name;
    const price = Number(btn.dataset.price);

    addToCart(id, name, price);

    console.log("added to cart");
  });
}
</script>