<div class="bordered">
  <a href={src} class="bake-card">
    <h4>{title}</h4>
    <Image src={image} alt={alt} width={200} height={200} />
  </a>


<ul id="cart-items"></ul>
<p id="cart-total"></p>
</div>
<script type="module">
    import { getCart } from "../scripts/cart.js";

    const list = document.querySelector("#cart-items");
    const totalEl = document.querySelector("#cart-total");

    function renderCart() {
        const items = getCart();

        // if cart is empty show message and stop
        if (items.length === 0) {
            list.innerHTML = "<p>Your cart is empty 🧁</p>";
            totalEl.textContent = "";
            return;
        }

        // clear existing list so we don't duplicate items
        list.innerHTML = "";

        // tracking total price
        let total = 0;

        // getting the current state from localstorage from getCart function and adding item price to total
        // loop through each cart item
        items.forEach((item, index) => {
            // adding price total
            total += item.price;

            // create a list item
            const li = document.createElement("li");

            // this is some plain HTML wow!! i guess returning the name of items that were created as list items
            // and having the price there as well? like
            // name price
            // name price

            // display item name + price + remove button
            li.innerHTML = `
                ${item.name} - $${item.price} <button data-index="${index}">❌</button>
    `;
            // add to DOM
            list.appendChild(li);
        });

        // display total price
        totalEl.textContent = `Total: $${total}`;

        // This selects ALL buttons on page with data-index,, limits it to just your cart
        list.querySelectorAll("button[data-index]").forEach((btn) => {
            btn.onclick = () => {
                removeItem(btn.dataset.index);
            };
        });
    }

    function removeItem(index) {
        let cart = getCart();
        cart.splice(index, 1);
        localStorage.setItem("cart", JSON.stringify(cart));
        renderCart();
    }

    renderCart();
</script>
